<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:sws="http://www.springframework.org/schema/web-services"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/web-services 
  	http://www.springframework.org/schema/web-services/web-services-2.0.xsd
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">

		<mvc:resources mapping="/resources/**" location="/resources/" />

		<sws:annotation-driven />

		<sws:dynamic-wsdl id="company" portTypeName="companyDetail"
			locationUri="/companyService/">
			<sws:xsd location="/WEB-INF/CompanyDetails.xsd" />
		</sws:dynamic-wsdl>

		<bean id="velocityConfig"
			class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
			<property name="resourceLoaderPath" value="/WEB-INF/pages/" />
		</bean>

		<bean id="viewResolver"
			class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
			<property name="cache" value="true" />
			<property name="prefix" value="" />
			<property name="suffix" value=".html" />
			<property name="exposeSpringMacroHelpers" value="true" />
		</bean>

	</beans>